
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%=name%></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<div class="row mt-3">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <form action="/dashboard" method="POST">
          <div class="form-group">
            <label for="message">Date</label>
            <input
              type="date"
              id="date"
              name="date"
              class="form-control"
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="number">Number</label>
            <input
              type="number"
              id="number"
              name="number"
              class="form-control"
              placeholder=""
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block" onclick="adddata()" >Add Metric</button>
        </form>
      </div>
    </div>  
</div>

<div class="get">
    <h1>Get data</h1>

    
        <table class="table">
            <thead>
            <tr>
                
                <th scope="col">Date</th>
                <th scope="col">Number</th>
            </tr>
            </thead>
            <tbody>
            <% table.forEach(function(item){ %>
            <tr>
                
                <td><%= item.date%></td>
                <td><%= item.number%></td>
                <td>
                  <button type="submit" class="btn btn-primary btn-block">Delete</button></td>
            </tr>
            
            <% }) %>
            </tbody>
        </table>
        
     

    </div>

    

    <p class="lead mb-2">Chart</p>
    <div> 
    
            <canvas id="myChart"></canvas>
            
     
       
    </div>
   

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="path/to/chartjs/dist/Chart.js"></script>
<script>

    var data1 = <%- JSON.stringify(table) %>;
    //var final = JSON.parse(data1);
    var listDate=[];
    var listNumber=[];

    for(var i=0; i < data1.length; i++){
      var date = new Date(data1[i].date);
      var day = date.getDate();
      var month = date.getMonth();
      var year =  date.getFullYear();
      var stringDate = year +"-"+month +"-"+day
      listDate.push(stringDate)
      listNumber.push(parseInt(data1[i].number))
    }
    console.log(listDate);
    console.log(listNumber);

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: listDate,
        datasets: [{
            label: 'Dataset',
            backgroundColor: 'rgb(235, 104, 100)',
            borderColor: 'rgb(235, 104, 100)',
            data: listNumber
        }]
      },

      // Configuration options go here
      options: {}
    });

   
  
     
    function adddata(){
      chart.data.datasets[0].data.push(500)
      chart.data.labels.push("mois")
      chart.update(); 
    }
    
    
</script>